.clickPanel {
    width: 30vw;
    height: 100vh;
    border-right: 2px  solid black;
    text-align: center;
}

.name {
    margin: 10vh 3vw 0 3vw;
    font-size: 32px;
    padding: 4px 12px;
    border: 2px solid black;
    background-color: transparent;
    cursor: pointer;
    box-shadow: 2px 2px 8px black;
}

.name:hover {
   box-shadow: 2px 2px 20px black;
}

.potatoCount {
    margin-top: 3vh;
    font-size: 50px;
}

div.clickPanel img {
    margin-top: 10vh;
    width: 55%;
    cursor: pointer;
    transition: .2s;
}

div.clickPanel img:hover {
    margin-top: calc(10vh - 3%);
    width: 60%;
}